body {
    margin: 0;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    padding-top: 30px;
    margin-bottom: 50px;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.back_button {
    width: 5%;
}
