h3,
h2,
h1 {
    margin: 0;
}

.organizer {
    display: flex;
    flex-direction: row;

    .card_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        height: 160px;
        padding: 20px;
        margin-bottom: 20px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: rgb(231, 189, 137);

        .product_name {
            font-size: 20px;
            font-weight: bold;
            align-self: center;
        }

        .card_body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            .mat-mdc-progress-bar {
                --mdc-linear-progress-active-indicator-height: 30px;
                --mdc-linear-progress-track-height: 30px;
                --mdc-linear-progress-active-indicator-color: #46944a;
            }

            .card_infos {
                .progress-bar-container {
                    position: relative;

                    .remaining-time {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        top: 50%;
                        transform: translateY(-50%);
                        color: white;
                    }
                }
                display: flex;
                width: 260px;
                flex-direction: column;
            }
        }
    }

    .select_field {
        margin-top: 22px;
    }

    .reservation_card {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 200px;
        margin-bottom: 20px;
        margin-left: 10px;
        color: white;
        background-color: rgb(226, 162, 83);
        justify-content: center;
        gap: 20px;
        padding-left: 20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
